@{
  Layout = "_Layout";
}
<div class="container">

  <h1>Your Contacts</h1>
  <h3>You have @Model.Count contact(s).</h3>
  <ul>
    @foreach(var contact in Model)
    {
      <li><a href="/conact/@contact.GetId()">@(contact.GetFirstName() + " " + contact.GetLastName())</a></li>
    }
  </ul>
  <br>
  <br>
  <p><a href="/contact/form">Add Contact</a></p>
</div>
